<div class = "col-sm-8 col-sm-offset-2">
  <div class = "row">
    <h1>sine up 4 moar puppees!!!11!!</h1>
  </div>
  <%= form_for :user, url: '/users' do |f| %>

    <div class = "row">
      Name: <br />
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <br />
    <div class = "row">
      Email: <br />
      <%= f.text_field :email, class: "form-control" %>
    </div>
    <br />
    <div class = "row">
      Password: <br />
      <%= f.password_field :password, class: "form-control" %>
    </div>
    <br />
    <div class = "row">
      Password Confirmation: <br/>
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>
    <br />
    <div class = "row">
      <%= f.submit "Submit", class: "btn btn-info" %>
    </div>
  <% end %>
</div>
